*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

body{

    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

a{
    text-decoration: none;
}

/* Navbar features */

#navbar{
  
    width: 100%;
    min-height: 20vh;
    height: auto;
    background-color: rgba(64, 31, 18, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    height: 100%;
    width: 30%;
    padding-left: 50px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

.nav_links_main{
    height: 100%;
    width: 55%;
    /* border-radius: 15px;
    border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.nav_link, #search_container{
    height: 50px;
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

}

#search_container{

    flex-grow: 1;
}

#search_box{
    height: 100%;
    width: 200px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;

    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    transition: background-color, color, 0.5s;
    font-size: 20px;
}


#search_box:hover{
    background-color: white;
    color: rgba(64, 31, 18);
}


.nav_link a{
    color: white;
    position: relative;
    font-size: larger;
    /* transition: color 0.5s; */

}

.nav_link a:before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background: white;

    transform: scaleX(0);
    transition: transform 0.2s linear;
    
}

.nav_link a:hover:before{
    transform: scaleX(1);
}


#main_container{
    padding-top: 20vh;
    width: 100%;
    min-height: 100vh;
    height: auto;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.600),rgba(0, 0, 0, 0.600)),url(./pictures/cupcakes.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    background-color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
}



#main_in_1{
    
    width: 90%;
    height: 95%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#main_in_2{
    /* min-width: 400px; */
    
    width: 90%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    row-gap: 50px;
    
}



#main_in_2 p{
    width: 70%;
    font-size: 150%;
    text-align: center;
    color: white;
}

#main_in_2 .button{
    min-width: 100px;
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    transition: color, background-color,  0.5s;
}

#main_in_2 .button:hover{
    color: white;
    background-color: #401f12;
}



